.bg{
	background-size:cover;
	background-attachment: fixed;
	background-image:url('rail.jpg');
}
.custom-style1{
	font-family: 'Antic Slab', serif;
	}
.custom-text1{
	font-size: 1.4rem;
}
.custom-style3{
	font-family: 'Aref Ruqaa', serif;
}
.custom-style{
	font
}
.custom-text2{
	font-size:1.2rem;
	color:rgb(10,10,10);
	line-height:2rem
}